/*! 留学导师样式 | MIT License | 神秘组织 */

/**
 * 背景样式
 */
body {
  background-image: url('../static/background.png');
  color: #666;
}

/**
 * 留学头部导航
 */
.study-abroad-nav {
  margin-top: 22px;
  font-size: 14px;
}

.handover-nav {
  margin-left: 4px;
}

  .handover-nav > li {
    padding: 10px;
    margin-right: 40px;
    color: #888;
    cursor: pointer;
  }

  .handover-nav > .active {
    border-bottom: 2px solid #009ddc;
    color: #009ddc;
  }

/**
 * 选课列表
 */

.classify .title {
  float: left;
  margin-top: 10px;
  width: 40px;
  font-size: 13px;
}

.classify > ul {
  float: left;
  max-width: 92 0px;
  font-size: 12px;
}

  .classify > ul > li {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .classify > ul > .active {
    background-color: #00c268;
    color: white;
  }

    .classify > ul > .active:hover {
      background-color: #00c268;
      color: white;
    }

  .classify > ul > li:hover {
    background-color: #f3f3f3;
  }


/**
 * 教师信息卡片
 */
.teacher-card {
  margin: 50px 10px 0px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 12px;
}

  .teacher-card .head {
    margin-top: -54px;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    overflow: hidden;
  }

  .teacher-card .des * {
    background-color: white;
  }

  .teacher-card .des {
    width: 100%;
    height: 60px;
    border: 1px solid #e5e5e5;
  }

    .teacher-card .des .w120 {
      margin-left: auto;
      margin-right: auto;
      width: 120px;
    }

    .teacher-card .des .t-green {
      margin-bottom: 4px;
    }

  .teacher-card .more {
    background-color: #f8f8f8;
  }
