/*! 通用样式 | MIT License | 神秘组织 */

/**
 * 背景样式
 */
body {
  background-image: url('../static/background.png');
  color: #666;
  font-family: '微软雅黑','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/**
 * 1. 大体的页面布局样式
 */

.container {
  width: auto;
  width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  box-shadow: rgba(1,1,1,.10) 0px 0px 5px;
  background-color: #fff;
}

.session {
  position: relative;
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/**
 * 分页
 */

.paging {
  margin-top: 60px;
  width: 360px;
}

  .paging > ul > li {
    margin: 0px 8px;
    display: block;
    width: 24px;
    line-height: 24px;
    border-radius: 24px;
    background-color: #dedede;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    color: #000;
    cursor: pointer;
  }

    .paging > ul > .active, .paging > ul > li:hover {
      background-color: #7b7b7b;
      color: #fff;
    }

    .paging > ul > li:first-child, .paging > ul > li:last-child {
      width: 58px;
      font-weight: 300;
    }




/**
 * 2. 常用的样式部件
 */
.fl {
  float: left;
}

.fr {
  float: right;
}

.cl {
  clear: both;
}


.t-blue {
  color: #009ddc;
}

.t-green {
  color: #00c268;
}

._mt10 {
  margin-top: -10px;
}

.mt6 {
  margin-top: 6px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt60 {
  margin-top: 60px;
}

.btn-success {
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  background-color: #00c268;
}

.btn-location {
  padding: 6px;
  border: 1px solid #959595;
  background-color: #fff;
  color: #333;
  font-size: 12px;
  border-radius: 5px;
}

  .btn-location:before {
    float: left;
    margin-right: 9px;
    width: 13px;
    height: 16px;
    background-position: -171px -103px;
  }


/**
 * 3. 样式和谐
 */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  float: left;
}

/* TODO:  图标 ！！！ */
.btn:before {
  display: block;
  background-image: url(../static/GoAm.png);
  content: '';
}

i {
  display: block;
  background-image: url(../static/GoAm.png);
}

p {
  margin: 10px auto;
  line-height: 200%;
}

button {
  border: none;
}

/**
 * 栅格系统
 */
.col-md-3 {
  float: left;
  width: 25%;
}
